{% extends 'base.html' %}
{% load widget_tweaks %}

{% block nav_content %}
    <a class="nav-link active" href="#">Sign In</a>
{% endblock %}

{% block main_content %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% if form.errors %}
            <h4 class="mb-4">Login or Password is incorrect</h4>
        {% endif %}
        <div class="form-group">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Email address</label>
            {{ form.username|add_class:'form-control' }}
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password|add_class:'form-control' }}
        </div>
        <button type="submit" class="btn btn-outline-light">Submit</button>
    </form>
{% endblock %}
