<!doctype html>
{% extends 'base.html' %}

{% block nav_content %}
    <a class="nav-link active" href="#">About</a>
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'home_page' %}">Home</a>
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a class="nav-link" href="{% url 'home_page' %}">Home</a>
        {% endif %}
{% endblock %}

{% block main_content %}
    <h1>Hello, I'm Laste!</h1>
    <h2 class="ml-3">Wellcome to my todo site, I hope you'll enjoy it!</h2>
    <a class="ml-3" href="http://github.com/lasteexile">My Github</a>
{% endblock %}
