<!doctype html>
{% extends 'base.html' %}

{% block nav_content %}
    <a class="nav-link active" href="#">Home</a>
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'create_page' %}">Create</a>
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        {% endif %}
{% endblock %}

{% block main_content %}
    {% if user.is_authenticated %}
        {% if task_list %}
            {% regroup task_list by date as task_list_grouped %}
                {% for task_grouped in task_list_grouped %}
                    <h2>{{ task_grouped.grouper }}:</h2>
                    {% for task in task_grouped.list %}
                        {% if task.completed %}
                            <h4 class="ml-4">- (Done) {{ task.text }}</h4>
                                <form method="post" action="{% url 'home_page' %}">
                                    <a class="btn btn-outline-link text-light ml-3" href="{% url 'edittask_page' task.pk %}">Edit</a>
                                    <a class="btn btn-outline-link text-light" href="{% url 'detail_page' task.pk %}">Details</a>
                                    {% csrf_token %}
                                    <input name="taskmarkas" type="hidden" value="2 {{ task.pk }}">
                                    <input class="btn btn-link text-light" type="submit" value="Mark as Undone">
                                </form>
                        {% else %}
                            <h4 class="ml-4">- {{ task.text }}</h4>
                                <form method="post" action="{% url 'home_page' %}">
                                    <a class="btn btn-outline-link text-light ml-3" href="{% url 'edittask_page' task.pk %}">Edit</a>
                                    <a class="btn btn-outline-link text-light" href="{% url 'detail_page' task.pk %}">Details</a>
                                    {% csrf_token %}
                                    <input name="taskmarkas" type="hidden" value="1 {{ task.pk }}">
                                    <input class="btn btn-link text-light" type="submit" value="Mark as Done">
                                </form>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
        {% else %}
            <h3>You have no tasks:</h3>
            <a class="btn btn-outline-light" href="{% url 'create_page' %}">Create first</a>
        {% endif %}
    {% else %}
        <div class="text-center">
            <h3>Authenticate first:</h3>
            <a class="btn btn-outline-light" href="{% url 'login' %}">Sign In</a>
            <a class="btn btn-light" href="{% url 'signup' %}">Sign Up</a>
        </div>
    {% endif %}
{% endblock %}
